argcomplete==3.1.6
asgiref==3.7.2
async-timeout==4.0.3
azure-core==1.29.5
azure-storage-blob==12.19.0
black==23.11.0
Brotli==1.1.0
build==1.0.3
CacheControl==0.13.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
cryptography==41.0.5
distlib==0.3.7
Django==4.2.7
django-cors-headers==4.3.1
django-dotenv==1.4.2
django-rest-knox==4.2.0
django-storages==1.14.2
djangorestframework==3.14.0
dulwich==0.21.6
fastjsonschema==2.19.0
filelock==3.13.1
flake8==6.1.0
flake8-quotes==3.3.2
gunicorn==21.2.0
hiredis==2.2.3
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
isodate==0.6.1
jaraco.classes==3.3.0
jeepney==0.8.0
keyring==24.3.0
mccabe==0.7.0
more-itertools==10.1.0
msgpack==1.0.7
mypy==1.7.1
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
pexpect==4.8.0
Pillow==10.1.0
pipenv-poetry-migrate==0.5.1
pipx==1.2.1
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-dotenv==0.5.3
poetry-plugin-export==1.6.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
pyproject_hooks==1.0.0
python-dotenv==1.0.0
pytz==2023.3.post1
rapidfuzz==3.5.2
redis==5.0.1
requests==2.31.0
requests-toolbelt==1.0.0
SecretStorage==3.3.3
shellingham==1.5.4
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.3
trove-classifiers==2023.11.22
typer==0.9.0
typing_extensions==4.8.0
urllib3==2.1.0
userpath==1.9.1
virtualenv==20.24.7
whitenoise==6.6.0
zipp==3.17.0
